
body { 
    margin: 0;
	text-decoration-color: #010101;
}

div {
    border-bottom:1.5px solid black;
}

ul {
    margin-top : 0;
}

a:link, a:visited {
	color: #010101;
	text-decoration: none;
}

.main {
    position: relative;
    width: 200mm; 
    height: 265mm;
	border: none;
}

.title {
    font-family: "Space Mono", serif;
    font-size: 50px;
    font-weight: 700;
}

.sub-title {
    font-family: "Space Mono", serif;
    font-size: 25px;
}

.title-font {
    font-family: "Poppins", serif;
    font-size: 12px;
}
.summary-font {
    font-family: "Poppins", serif;
    font-size: 12px;
    line-height: 16px;
}

.ayrin-title {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 480px;
    height: 80px;
    line-height: 120%;
    padding-top: 10px;
	border: none;
}

.ayrin-summary {
    position: absolute;
    top: 135px;
    left: 40px;
    width: 673px;
    height: 69px;
    font-family: "Poppins", serif;
    font-size: 12px;
	font-weight: 250;
    line-height: 18px;
}

.in-box-title {
	font-weight: 500;
	font-size: 16px;
}

.in-box-subtitle {
	font-style: italic;
	font-size: 14px;
	font-weight: 350;
}

.ayrin-technical {
    position: absolute;
    top: 219px;
    left: 40px;
    width: 673px;
    height: 69px;
}

.ayrin-technical-title {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 228px;
	border: none;
}

.ayrin-technical-summary {
    position: absolute;
    top: -1px;
    left: 228px;
    width: 444px;
	border: none;
    line-height: 18px;
	font-size: 12px;
	font-weight: 250;
}

.ayrin-education {
    position: absolute;
    top: 303px;
    left: 40px;
    width: 673px;
    height: 339px;
}

.ayrin-education-title {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 228px;
	border: none;
}

.ayrin-education-summary {
    position: absolute;
    top: -1px;
    left: 228px;
    width: 444px;
	border: none;
	line-height: 18px;
	font-size: 12px;
	font-weight: 250;
}

.ayrin-experience {
    position: absolute;
    top: 657px;
    left: 40px;
    width: 673px;
    height: 195px;
}

.ayrin-experience-title {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 228px;
	border: none;
}

.ayrin-experience-summary {
    position: absolute;
    top: -1px;
    left: 228px;
    width: 444px;
	line-height: 18px;
	border: none;
	font-size: 12px;
	font-weight: 250;
}

.ayrin-contact {
    position: absolute;
    top: 867px;
    left: 40px;
    width: 673px;
    height: 51px;
}

.ayrin-contact-title {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 228px;
	border: none;
}

.ayrin-contact-summary {
    position: absolute;
    top: -1px;
    left: 228px;
    width: 444px;
	line-height: 18px; 
	border: none;
	font-size: 12px;
	font-weight: 250;
}

.ayrin-info {
	position: absolute;
    top: 933px;
    left: 40px;
    width: 673px;
    height: 32px;
	border: none;
}

.ayrin-info-left {
	position: absolute;
    top: -1px;
    left: -1px;
    width: 228px;
	border: none;
	line-height: 16px;
	font-size: 11px;
	font-weight: 300;
}

.ayrin-info-right {
	position: absolute;
    top: -1px;
    left: 228px;
    width: 444px;
	text-align: right;
	line-height: 16px; 
	border: none;
	font-size: 11px;
	font-weight: 300;
}

.www {
	width: 10px;
	height: 10px;
}

.insta {
	width: 10px;
	height: 10px;
}

.linked-in {
	width: 10px;
	height: 10px;
}

.sheet-outer {
    margin: 0;
	border: none;
}
.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
}

@media screen {
    body { 
        background: #e0e0e0 
    }
   
    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); 
        margin: 5mm auto;
    }
}

.sheet-outer.A4 .sheet { 
    width: 210mm; 
    height: 276mm;
}
.sheet.padding-5mm { padding: 5mm }

@page {
    size: letter;
    margin: 0
}
@media print {
    .sheet-outer.A4, .sheet-outer.A5.landscape { 
        width: 210mm 
    }
}
